# Libero Translation Engine environment variables

# Absolute or relative path to the directory containing all books
BOOKS_ROOT=../books

# Absolute or relative path to the web reader site repository/build directory
WEB_OUTPUT_ROOT=../web-site

# LLM API configuration credentials
GEMINI_API_KEY=api your key
